{% extends 'vendedor/base_vendedor.html' %}
{% load staticfiles %}

{% block content %}
    {% include 'loading.html' %}

    <div class="box box-primary" style="margin-top: 30px;">
        <div class="box-header">
            <h3 class="box-title">
                <center style="font-size: 20px;">Adicionar Pedido</center>
            </h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form action="" method="post">{% csrf_token %}
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="firstname">Login:</label>
                            <p>(Tudo junto e minusculo)</p>
                            {{ forms.login }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="firstname">Nome Completo:</label>
                            {{ forms.nome }}
                        </div>
                    </div>
                    <!-- /.row -->

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="street">Endereço:</label>
                            {{ forms.endereco }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="street">Número:</label>
                            {{ forms.numero }}
                        </div>
                    </div>
                    <!-- /.row -->

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="city">Bairro:</label>
                            {{ forms.bairro }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip">Cidade:</label>
                            {{ forms.cidade }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="phone">Telefone:</label>
                            {{ forms.phone }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            {{ forms.email }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            {{ pontoset.management_form }}
                            {% for form in pontoset.forms %}
                                {% if forloop.first %}
                                    <thead>
                                    <tr>
                                        {% for field in form.visible_fields %}
                                            <th>{{ field.label|capfirst }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                {% endif %}
                                <tr class="formset_row">
                                    {% for field in form.visible_fields %}
                                        <td>
                                            {# Include the hidden fields in the form #}
                                            {% if forloop.first %}
                                                {% for hidden in form.hidden_fields %}
                                                    {{ hidden }}
                                                {% endfor %}
                                            {% endif %}
                                            {{ field.errors.as_ul }}
                                            {{ field }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <script src="{% static 'js/jquery.formset.js' %}"></script>
                    <script type="text/javascript">
                        $('.formset_row').formset({
                            addText: 'Adicionar Item',
                            deleteText: 'Remover',
                            prefix: 'item_set'
                        });
                    </script>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="firstname">Valor Unitário: </label>
                            {{ form.valor_unitario }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="firstname">Forma de Pagamento: </label>
                            {{ form.forma_pagamento }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="firstname">Metodo de Entrega: </label>
                            {{ form.formato_entrega }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="firstname">Data de Entrega: </label>
                            {{ form.data_entrega }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="firstname">Prazo: </label>
                            {{ form.prazo }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class=" box-footer ">
                <a href="#" id="btn_cancelar" class="btn btn-default pull-left">Voltar</a>
                <button type="submit" id="btn_salvar" class="btn btn-primary pull-right">Finalizar Pedido
                </button>
            </div>
        </form>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            $(":input").inputmask();
            $('select').addClass('form-control');
            $('[name=data_entrega]').addClass('datepicker');
            $('input').addClass('form-control');
            $("input").attr('required', 'required');
            $('#body').addClass('sidebar-collapse');
            $('#pedidos').addClass('active');
            $('#btn_cancelar').click(function () {
                return window.history.back();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('[name=login]').on('focusout', function () {
                var query = $(this).val();
                console.log(query);
                $.ajax({
                    type: 'GET',
                    url: '{% url 'buscar-cliente' %}',
                    data: {q: query},
                    beforeSend: function () {
                        $('#loading').show();
                    },
                    success: function (result) {
                        console.log(result);
                        console.table(result);
                        $('#loading').hide();
                        if (result.results.length == 0) {
                            swal('Nenhum Usuario cadastrado com este login', '', 'error');
                            $('[name=endereco]').val('');
                            $('[name=numero]').val('');
                            $('[name=bairro]').val('');
                            $('[name=cidade]').val('');
                            $('[name=phone]').val('');
                            $('[name=email]').val('');
                            return;
                        } else {
                            $('[name=nome]').val(result.results[0].nome);
                            $('[name=endereco]').val(result.results[0].endereco);
                            $('[name=numero]').val(result.results[0].numero);
                            $('[name=bairro]').val(result.results[0].bairro);
                            $('[name=cidade]').val(result.results[0].cidade);
                            $('[name=phone]').val(result.results[0].phone);
                            $('[name=email]').val(result.results[0].email);
                        }
                    }

                });
            });
        });
    </script>


    <script>
        $('.add-row').addClass('btn btn-primary');
    </script>

{% endblock %}
