{% extends 'site/base.html' %}

{% load staticfiles %}

{% block content %}

    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Catálogo de Produtos</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li>Catalogo</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">

            <div class="row">


                <div class="col-sm-9">

                    <p class="text-muted lead">Abaixo você poderá conferir o nosso catálogo de produtos, e assim
                        realizar um pedido dos produtos de seu interesse. Esperamos poder lhe atender conforme
                        esperado.</p>

                    <div class="row products">

                        {% for produto in produtos %}

                            <div class="col-md-4 col-sm-6">
                                <div class="product">
                                    <div class="image">
                                        <a href="{% url 'produto' produto.pk %}">
                                            <img src="{{ produto.foto_set.first.url }}" alt=""
                                                 class="img-responsive image1">
                                        </a>
                                    </div>
                                    <!-- /.image -->
                                    <div class="text">
                                        <h3>
                                            <a href="{% url 'produto' produto.pk %}">{{ produto.nome }} {{ produto.marca }} {{ produto.peso }}</a>
                                        </h3>
{#                                        <p class="price">R$ {{ produto.valor|floatformat:2 }}</p>#}
                                        <p class="buttons">
                                            <a href="{% url 'produto' produto.pk %}" class="btn btn-default">Ver
                                                Detalhes</a>
                                            <a href="{% url 'add_carrinho' produto.pk %}" class="btn btn-template-main">
                                                <i class="fa fa-shopping-cart"></i>Adicionar ao Carrinho</a>
                                        </p>
                                    </div>
                                    <!-- /.text -->
                                </div>
                                <!-- /.product -->
                            </div>
                        {% endfor %}


                    </div>
                    <!-- /.products -->

                    {#                    <div class="row">#}
                    {##}
                    {#                        <div class="col-md-12 banner">#}
                    {#                            <a href="#">#}
                    {#                                <img src="img/banner2.jpg" alt="" class="img-responsive">#}
                    {#                            </a>#}
                    {#                        </div>#}
                    {##}
                    {#                    </div>#}


                    {#                    <div class="pages">#}
                    {##}
                    {#                        <p class="loadMore">#}
                    {#                            <a href="#" class="btn btn-template-main">#}
                    {#                                <i class="fa fa-chevron-down"></i> Load more</a>#}
                    {#                        </p>#}
                    {##}
                    {#                        <ul class="pagination">#}
                    {#                            <li>#}
                    {#                                <a href="#">&laquo;</a>#}
                    {#                            </li>#}
                    {#                            <li class="active">#}
                    {#                                <a href="#">1</a>#}
                    {#                            </li>#}
                    {#                            <li>#}
                    {#                                <a href="#">2</a>#}
                    {#                            </li>#}
                    {#                            <li>#}
                    {#                                <a href="#">3</a>#}
                    {#                            </li>#}
                    {#                            <li>#}
                    {#                                <a href="#">4</a>#}
                    {#                            </li>#}
                    {#                            <li>#}
                    {#                                <a href="#">5</a>#}
                    {#                            </li>#}
                    {#                            <li>#}
                    {#                                <a href="#">&raquo;</a>#}
                    {#                            </li>#}
                    {#                        </ul>#}
                    {#                    </div>#}


                </div>
                <!-- /.col-md-9 -->

                <!-- *** LEFT COLUMN END *** -->


                <div class="col-sm-3">
                    {% if pedido %}
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <h5><span class="glyphicon glyphicon-shopping-cart"></span> Carrinho
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        {% for item in pedido.item_set.all %}
                                            <div class="row">
                                                <div class="col-xs-2"><img src="{{ item.produto.foto_set.first.url }}"
                                                                           style="width: 40px; height: 50px;">
                                                </div>
                                                <div class="col-xs-8">
                                                    <h4 class="product-name">
                                                        <strong>{{ item.produto.categoria }} {{ item.produto.nome }}</strong>
                                                    </h4>
                                                    <h4>
                                                        <small><b>Qtd:</b>{{ item.quantidade }}</small>
                                                    </h4>
                                                </div>
                                                <div class="col-xs-2">
                                                    <a href="{% url 'delete_carrinho' item.pk item.pedido.pk %}">
                                                        <i class="fa fa-close"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <hr>
                                        {% endfor %}
                                    </div>
                                    <div class="panel-footer">
                                        <div class="row text-center">
                                            <div class="col-xs-12">
                                                <a href="{% url 'carrinho' pedido.pk %}"
                                                   class="btn btn-success btn-block">
                                                    Solicitar Orçamento
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                    {% endif %}
                    <div class="row">
                        <div class="panel panel-default sidebar-menu">

                            <div class="panel-heading">
                                <h3 class="panel-title">Categorias</h3>
                            </div>

                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked category-menu">
                                    <li>
                                        {% for cat in categorias %}
                                            <a href="{% url 'catalogo' %}?categoria={{ cat.id }}">{{ cat.nome }}
                                                <span class="badge pull-right">{{ cat.tipo_set.all|length }}</span>
                                            </a>
                                            <ul>
                                                {% for ti in cat.tipo_set.all %}
                                                    <li>
                                                        <a href="{% url 'catalogo' %}?tipo={{ ti.id }}">{{ ti.nome }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>


                    <!-- *** MENUS AND FILTERS END *** -->

                    {#                    <div class="banner">#}
                    {#                        <a href="shop-category.html">#}
                    {#                            <img src="img/banner.jpg" alt="sales 2014" class="img-responsive">#}
                    {#                        </a>#}
                    {#                    </div>#}
                    <!-- /.banner -->

                </div>
                <!-- /.col-md-3 -->

                <!-- *** RIGHT COLUMN END *** -->

            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->
{% endblock %}